<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>اركان</title>
</head>

<body style="direction: rtl;">

    <nav class=" absolute top-0 right-0 left-0 z-20 flex justify-between items-center py-4 px-6 border-b border-gray-300 shadow-md opacity-70 bg-black">
        <div class="flex justify-end items-center">
            <img src="./../image/logo_sit.jpg" alt="شعار الموقع" class="w-10 h-10 ">
            <b class="text-white mr-3">توكل</b>
        </div>
        <ul class="m-auto flex justify-between ">
            <li><a href="home.php" class="text-white text-lg font-semibold hover:bg-green-300 hover:bg-opacity-50 px-5 py-3 rounded-lg ">الصفحة الرئيسة</a></li>
            <li><a href="#" class="text-white text-lg font-semibold hover:bg-green-300 hover:bg-opacity-50 px-5 py-3 rounded-lg ">الاركان</a></li>
            <li><a href="login.php" class="text-white text-lg font-semibold hover:bg-green-300 hover:bg-opacity-50 px-5 py-3 rounded-lg ">ملفي</a></li>
        </ul>
    </nav>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center">
        <div class="absolute top-0 w-full h-full bg-center bg-cover" style="min-height: 75vh;background-image: url('./../image/arkan.png');">
            <span class="w-full h-full absolute opacity-70 bg-gray-950 "></span>
            <div class="container relative mx-auto h-full flex flex-col justify-center items-center text-center">
                <div class="pr-12 max-w-xl">
                    <h1 class="text-yellow-400 font-semibold text-4xl italic">اركان العمرة </h1>
                    <p class="mt-4 text-xl text-white ">العمرة هي التعبد لله بالإحرام، والطواف بالبيت، والسعي بين الصفا والمروة، والحلق أو التقصير
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="pb-20  pt-64" style="background-color: #588157;">
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-between">
                <div class=" float-l w-1/2 h-1/2  p-14 transition duration-700 transform hover:scale-110">
                    <img src="./../image/Ihram.jpg" alt="" class="shadow-lg align-middle rounded-lg">
                </div>
                <div>
                    <div class="max-w-80 ml-52 ">
                        <img src="./../image/1.png" alt="" class="w-20 ">
                        <h1 class="text-2xl font-bold text-yellow-400 mt-7">الإحرام</h1>
                        <p class="mt-3 text-base text-white">الإحرام في دين الإسلام هو نية الدخول في النسك مقروناً بعمل من أعمال الحج كالتلبية أوالتجرد</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="pb-20" style="background-color: #3A5A40;">
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-between">
                <div>
                    <div class="max-w-80 mr-44 ">
                        <img src="./../image/2.png" alt="" class="w-20 ">
                        <h1 class="text-2xl font-bold text-yellow-400 mt-7">الطواف</h1>
                        <p class="mt-3 text-base text-white"> يجب على المعتمر أداء سبعة أشواط حول الكعبة الشريفة في اتجاه عكس عقارب الساعة، بدءًا من الزاوية الشرقية (الحجر الأسود)</p>
                    </div>
                </div>
                <div class="w-1/2 h-1/2 p-14 transition duration-700 transform hover:scale-110 ">
                    <img src="./../image/Tawaf.png " alt=" " class="shadow-lg align-middle rounded-lg ">
                </div>
            </div>
        </div>
    </section>
    <section class="pb-20 " style="background-color: #606C38;">
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-between">
                <div class=" float-l w-1/2 h-1/2  p-14 transition duration-700 transform hover:scale-110">
                    <img src="./../image/asayi.jpg" alt="" class="shadow-lg align-middle rounded-lg">
                </div>
                <div>
                    <div class="max-w-80 ml-52 ">
                        <img src="./../image/3.png" alt="" class="w-20 ">
                        <h1 class="text-2xl font-bold text-yellow-400 mt-7">السعي بين الصفاو المروة</h1>
                        <p class="mt-3 text-base text-white">بعد الطواف، يقوم المعتمر بالسعي بين الصفا والمروة، حيث يبدأ بالسعي بين الصفا والمروة مرة واحدة، ثم يكرر هذا السعي سبع مرات</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="pb-20" style="background-color: #588157;">
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-between">
                <div>
                    <div class="max-w-80 mr-44 ">
                        <img src="./../image/4.png" alt="" class="w-20 ">
                        <h1 class="text-2xl font-bold text-yellow-400 mt-7">الحلق او التقصير</h1>
                        <p class="mt-3 text-base text-white"> يجب على المعتمر قصّ شعره أو جزء منه بعد الانتهاء من السعي، وهذا يعتبر جزءًا أساسيًا من العمرة</p>
                    </div>
                </div>
                <div class="w-1/2 h-1/2 p-14 transition duration-700 transform hover:scale-110 ">
                    <img src="./../image/takasir.jpg " alt=" " class="shadow-lg align-middle rounded-lg ">
                </div>
            </div>
        </div>
    </section>

</body>

</html>